/* LOTTIE */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;    /* fade out */
}

#main {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;     /* fade in */
}

#header {
    background-color: rgb(187, 187, 187);
    padding: 15px 0px 0px;
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-align: center;
    position: relative;
}

/* HEADER */
#header header h1 {
    margin-bottom: 0;
    font-size: 65px;
    font-family: 'Karma', sans-serif;
    font-weight: bold;
    color: black;
    margin: 0;
}

#header header h2 {
    margin-top: 0;
    font-size: 15px;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-align: center;
    position: relative;
}

/* LISTINGS SECTION */
#listings h1 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    margin: 0;
}

/* NAVIGATION - need to add @media screen to 
                ensure device compatibility */ 
nav {
    background-color: grey;
    padding-left: 35px;
    display: flex; 
    justify-content: flex-start;
    gap: 500px;
    width: auto;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 0;
    gap: 50px;
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    transition: color 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: width 0.3s ease;
}

/*Search bar*/
nav div {
    background-color: rgb(216, 216, 216);
    border-radius: 25px;    /* corner rounding */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;  /* width is only compatible on desktop */
    height: 40px;
    margin: 10px;
}

#search {
    color: rgb(149, 149, 149);
    font-family: 'Kanit';
    padding-left: 20px;
    gap: 205px;     /* space btwn text & search icon*/
}

#search img {
    width: 20px;
}
